parameters:
	ignoreErrors:
		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Nucleos\\\\\\\\UserBundle…' and class@anonymous/tests/FOSAliasTest\\.php\\:27 will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'FOS\\\\\\\\UserBundle…' and class@anonymous/tests/FOSAliasTest\\.php\\:27 will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Nucleos\\\\\\\\UserBundle…' and class@anonymous/tests/FOSAliasTest\\.php\\:36 will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'FOS\\\\\\\\UserBundle…' and class@anonymous/tests/FOSAliasTest\\.php\\:36 will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Nucleos\\\\\\\\UserBundle…' and class@anonymous/tests/FOSAliasTest\\.php\\:45 will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'FOS\\\\\\\\UserBundle…' and class@anonymous/tests/FOSAliasTest\\.php\\:45 will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Nucleos\\\\\\\\UserBundle…' and Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser will always evaluate to true\\.$#"
			count: 2
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'FOS\\\\\\\\UserBundle…' and Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser will always evaluate to true\\.$#"
			count: 2
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Nucleos\\\\\\\\UserBundle…' and Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'FOS\\\\\\\\UserBundle…' and Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup will always evaluate to true\\.$#"
			count: 1
			path: tests/FOSAliasTest.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup\\:\\:getId\\(\\) should return mixed but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyGroup.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup\\:\\:getName\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyGroup.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup\\:\\:hasRole\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyGroup.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup\\:\\:getRoles\\(\\) should return array\\<string\\> but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyGroup.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyGroup\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Fixtures/LegacyGroup.php

		-
			message: "#^Class Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser implements generic interface FOS\\\\UserBundle\\\\Model\\\\GroupableInterface but does not specify its types\\: GroupTemplate$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:serialize\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Return type \\(mixed\\) of method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:serialize\\(\\) should be covariant with return type \\(string\\) of method Serializable\\:\\:serialize\\(\\)$#"
			count: 2
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:unserialize\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:unserialize\\(\\) has parameter \\$serialized with no typehint specified\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isEqualTo\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getGroups\\(\\) should return Doctrine\\\\Common\\\\Collections\\\\Collection\\<int, Nucleos\\\\UserBundle\\\\Model\\\\GroupInterface\\> but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getGroupNames\\(\\) should return array\\<string\\> but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:hasGroup\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getId\\(\\) should return mixed but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getConfirmationToken\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getRoles\\(\\) should return array\\<string\\> but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getSalt\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isSuperAdmin\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getUsername\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getUsernameCanonical\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getEmail\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getEmailCanonical\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isAccountNonExpired\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isAccountNonLocked\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getPassword\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:eraseCredentials\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:getPlainPassword\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isPasswordRequestNonExpired\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:hasRole\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isCredentialsNonExpired\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

		-
			message: "#^Method Nucleos\\\\UserBundlePolyfill\\\\Tests\\\\Fixtures\\\\LegacyUser\\:\\:isEnabled\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: tests/Fixtures/LegacyUser.php

